# Django
*.log
*.pot
*.pyc
*.pyo
*.mo
*.db
*.sqlite3
__pycache__/
db.sqlite3
media/
staticfiles/
static/
.DS_Store
*.pid
.env
venv/
env/
ENV/
.venv
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
*.orig
*.rej
.coverage
htmlcov/
.tox/
.mypy_cache/
.pytest_cache/
*.egg-info/
dist/
build/
celerybeat-schedule
celerybeat.pid
*.db-journal